.button {
     -fx-text-fill: white;
            -fx-font-weight: bold;
             -fx-background-color: #4B30B5;/* Make text bold */
}
.text-field {
    -fx-background-color: #181818;
    -fx-text-fill: white;
    -fx-font-weight: bold;

}

.text {
   -fx-font-weight: bold;
}

#titleText {
    -fx-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}
#1, #2, #3, #4, #5, #6, #TidErrorText, #pwErrorText, #dOBErrorText,#lNameErrorText,#fNameErrorText,#idErrorText {
    -fx-fill: white;
    -fx-font-weight: bold;

}

.white-text {
    -fx-fill: white;
    -fx-font-weight: bold;
}

#content {
-fx-background-color: #282828;
   }

#ellipseOne {
    -fx-fill: #34D889; /* Use the appropriate syntax for JavaFX */
    -fx-stroke: #34D889;
    -fx-stroke-type: inside;
}

#ellipseTwo {
    -fx-fill: #18AC74; /* Use the appropriate syntax for JavaFX */
    -fx-stroke: #18AC74;
    -fx-stroke-type: inside;
}





