/* styles.css */

.root {
    -fx-background-color: #212121;
    -fx-font-family:'JetBrains Mono'

}

.button {
    -fx-background-color: #7151F0;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #181818;
    -fx-text-fill: white;
}

.Text {
    -fx-fill: white;
}

#titleText {
    -fx-fill: white;
     -fx-font-size: 30px;
}
#advisorIdText, #passwordText {
    -fx-fill: white;
}

.label {
    -fx-text-fill: white;
}






