/* styles.css */

#loadEventsButton{
   -fx-background-color: transparent;
       -fx-text-fill: #AA97F6;
       -fx-font-weight: bold;  /* Make text bold */
       -fx-underline: true;

}
.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #4B30B5;
}

#upcomingEventsText{
    -fx-fill: white;
}
#clubNameText {
    -fx-fill: white;
        -fx-font-size: 30px;
        -fx-font-weight: bold;
}

#functionsTable {
    -fx-background-color: black;
}

#functionsTable .column-header, #functionsTable .column-header-background {
    -fx-background-color: black;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: white;
}

#functionsTable .table-cell {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: white;
}


#ellipseOne {
    -fx-fill: #34D889; /* Use the appropriate syntax for JavaFX */
    -fx-stroke: #34D889;
    -fx-stroke-type: inside;
}

#ellipseTwo {
    -fx-fill: #18AC74; /* Use the appropriate syntax for JavaFX */
    -fx-stroke: #18AC74;
    -fx-stroke-type: inside;
}
#content {
-fx-background-color: #282828;
   }





