/* styles.css */
.button {
    -fx-background-color: #7151F0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: #181818;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#titleText {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: white;
}

#eventTypeChoiceBox {
    -fx-background-color: #181818;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
}

#eventTypeChoiceBox .combo-box-popup .list-view .list-cell {
    -fx-text-fill: black;
}

#content {
    -fx-background-color: #282828;
}

#ellipseOne {
    -fx-fill: #34D889;
    -fx-stroke: #34D889;
    -fx-stroke-type: inside;
}

#ellipseTwo {
    -fx-fill: #18AC74;
    -fx-stroke: #18AC74;
    -fx-stroke-type: inside;
}
