/* styles.css */
.button {
    -fx-background-color: #7151F0;
    -fx-text-fill: white;

}

.text-field {
    -fx-background-color: #181818;
    -fx-text-fill: white;
}

.Text {
    -fx-fill: white;
}

#titleText {
   -fx-text-fill: white;
    -fx-font-size: 30px;
}
#studentIdText, #stdNameErrorText, #passwordText, #or {
    -fx-fill: white;
}
.label{
    -fx-text-fill: white;

}

#eventDate, #eventTypeChoiceBox {
    -fx-background-color: #181818;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
}

#eventDate .date-picker-popup {
    -fx-background-color: black;
}

#eventTypeChoiceBox .arrow, #eventTypeChoiceBox .label {
    -fx-text-fill: white;
}





