/* GenerateReports.css */

#load {
    -fx-background-color: transparent;
    -fx-text-fill: #AA97F6;
    -fx-font-weight: bold;  /* Make text bold */
    -fx-underline: true;  /* Remove underline */
}
.Text {
    -fx-fill: white;
}


#backButtonCDD {
    -fx-background-color: #7151F0;
        -fx-text-fill: white;
        -fx-font-weight: bold;
}
.text-field {
    -fx-background-color: #181818;
    -fx-text-fill: white;
}

#title {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

#content {
    -fx-background-color: #282828;
}

#ellipseOne {
    -fx-fill: #34D889;
    -fx-stroke: #34D889;
    -fx-stroke-type: inside;
}

#ellipseTwo {
    -fx-fill: #18AC74;
    -fx-stroke: #18AC74;
    -fx-stroke-type: inside;
}

