/* styles.css */

.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #4B30B5;
}

#fillTable {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;  /* Make text bold */
    -fx-underline: true;  /* Remove underline */
}



.text-field {
    -fx-background-color: #181818;
    -fx-text-fill: white;
}

.Text {
    -fx-fill: white;
}

#welcomeClub {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#onComingEvents {
    -fx-background-color: #282828;
}

#onComingEvents .column-header,
#onComingEvents .column-header-background {
    -fx-background-color: #282828;
    -fx-text-fill: white;
    -fx-font-weight: bold; /* Optional: Make column headings bold */
}

#onComingEvents .table-cell {
    -fx-text-fill: white;
}


#contentOne {
-fx-background-color: #282828;
   }

#contentTwo {
-fx-background-color: #282828;
   }

