/* styles.css */
.button {
    -fx-background-color: #7151F0;
    -fx-text-fill: white;

}

.text-field {
    -fx-background-color: #181818;
    -fx-text-fill: white;
}

.Text {
    -fx-fill: white;
}

#welcomeClub {
    -fx-fill: white;
     -fx-font-size: 30px;
}
#text1, #text2, #text3, #IDerrorLabel {
    -fx-fill: white;
}


#clubComboBox {
    -fx-background-color: #181818;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-size: 14;
}


#clubComboBox .arrow, #clubComboBox .label {
    -fx-text-fill: white;
}







