/* styles.css */
.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #4B30B5;
}

#RegisterToClubsButton {
    -fx-background-color: transparent;
    -fx-text-fill: #AA97F6;
    -fx-font-weight: bold;  /* Make text bold */
    -fx-underline: true;  /* Remove underline */
}





#welcomeText, #welcomeText2 {
    -fx-fill: white;
     -fx-font-size: 30px;
     -fx-font-weight: bold;
}



#content {
-fx-background-color: #282828;
   }


#ellipseOne {
    -fx-fill: #34D889; /* Use the appropriate syntax for JavaFX */
    -fx-stroke: #34D889;
    -fx-stroke-type: inside;
}

#ellipseTwo {
    -fx-fill: #18AC74; /* Use the appropriate syntax for JavaFX */
    -fx-stroke: #18AC74;
    -fx-stroke-type: inside;
}






